{% extends "layout.html" %}

{% block css %}
<!-- CSS -->
<link href="{{ url_for('static', filename='css/autoplay_style.css') }}" rel="stylesheet">
{% endblock css %}

{% block content %}
<center><h1 style="text-decoration: underline;">Autoplay</h1></center>
<iframe width="1106" height="700" src="https://www.youtube.com/embed/VIDEO_ID?playlist={{ video_id_string }}"frameborder="0" allowfullscreen></iframe>

{% endblock content %}

{% block js %}
<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/autoplay_script.js') }}"></script>
{% endblock js %}