{% extends "layout.html" %}

{% block css %}
<!-- CSS -->
<link href="{{ url_for('static', filename='css/download_style.css') }}" rel="stylesheet">
{% endblock css %}

{% block content %}

{% for audio in audios %}
    <p>
        {{ audio.artist_name }} - "{{ audio.song_name }}"
        <a href="{{ url_for('download_mp3', id=audio.id) }}" id="download-mp3-{{ audio.id }}">MP3</a>
        <a href="{{ url_for('download_mp4', id=audio.id) }}" id="download-mp4-{{ audio.id }}">MP4</a>
    </p>
{% endfor %}

{% endblock content %}

{% block js %}
<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/download_script.js') }}"></script>
{% endblock js %}