{% extends "layout.html" %}

{% block css %}
<!-- CSS -->
<link href="{{ url_for('static', filename='css/legal_style.css') }}" rel="stylesheet">
{% endblock css %}

{% block content %}

<p>If you've come across content that may violate the law, let us know, 
    and we'll carefully review the material and consider blocking, removing or restricting access to it.</p>

{% endblock content %}

{% block js %}
<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/legal_script.js') }}"></script>
{% endblock js %}